:root {
  --theme-color: #77bbff;
  --theme-color-faded: #9fbad6;
  --theme-color-darkened: #364d63;
  --light-color: #eee;
  --dark-color: #444;
  --dark-border: #555;
  --background: var(--light-color);
  --foreground: var(--dark-color);
  --baseline-measure: 1rem;
  --baseline-radius: 8px;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);*/
  background-color: var(--background);
  color: var(--foreground);

  /*font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

dialog {
  background-color: var(--background);
  border: 1px solid var(--dark-border);
  border-radius: var(--baseline-radius);
  padding: var(--baseline-measure);           
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.2);
}

button {
  background-color: var(--theme-color);
  border-width: 0;
  border-radius: var(--baseline-radius);
  padding: var(--baseline-measure);
  cursor: pointer;
}

button:disabled {
  background-color: var(--theme-color-faded);
  cursor: default;
}

button.text,
button.icon {
  background-color: transparent;
  color: var(--foreground);
}

button.rounded {
  border-radius: 50%;
}

button.mini {
  padding: .45rem;
}

button.fab {
  position: absolute;
  right: var(--baseline-measure);
  bottom: var(--baseline-measure);
}

.timer {
  background-color: var(--theme-color-darkened);
  padding: var(--baseline-measure);
  /* display: grid;
  grid-template-areas: 
  "label label label label label close"
  "duration duration duration duration actions actions"; */
}

.timer .row {
  display: flex;
  justify-content: space-between;
  align-items: end;
  /* grid-area: label; */
}

.timer .row:not(:last-child) {
  margin-bottom: var(--baseline-measure);
}

.timer .duration {
  font-size: 2rem;
}

.timer .actions {
  /* grid-area: actions; */
}

.new-timer {
  font-size: 2rem;
  color: var(--foreground);
  margin-bottom: var(--baseline-measure);
}

.enter-timer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--baseline-measure);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark-color);
    --foreground: var(--light-color);
  }
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: var(--baseline-radius);
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
